// Fonts
$base-font-family: 'Omnes', sans-serif;
$header-font-family: 'Acumin Pro', sans-serif;

$app-colors: (
  'primary': #ff971d,
  'background': #fcfcfc,
  'white': #ffffff,
  'foreground': #16191b,
  'error': rgb(168, 48, 48),
  'info': rgb(51, 136, 206),
  'success': rgb(62, 172, 62)
);
